.labels {
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  background: #5c5c5c;
}
.label {
  padding: 8px;
  margin: 16px;
  font-size: 28px;
  color: #fff;
  background: #aaa;
  border-radius: 8px;
}
